/*
	MoneyLog Cloud theme
	by Aurelio Jargas
	http://aurelio.net/moneylog/

	Light blue: #D5EAFB
	 Dark blue: #2B97E9
*/


#app-flavor {
	color: #2B97E9;
}

/* Dark background for active/special buttons */
#fullscreen,
.report th:hover,
#editor-file-name,
.button.active,
a.button:active {
	background-color: #2B97E9;
}

/* Dark background for selected rows */
tr.selected,
tr.selected:hover td,
tr.selected .neg {
	background-color: #2B97E9;
}

/* Dark color for borders */
#editor-data-wrapper,
#rows-summary,
.button.active,
a.button:active {
	border-color: #2B97E9;
}

/* Light background for selections */
.hl,
#tag-cloud-tags a.selected {
	background-color: #D5EAFB;
}

/* Light background for totals */
tr.totals,
td.totals,
#rows-summary {
	background-color: #D5EAFB;
}

/* Light color for the report borders */
.report td {
	border-color: #D5EAFB;
}


/* Special: interface dark blue for the positive chart bar */
.posbar {
	background-color: #2B97E9;
}
