/*
	MoneyLog mobile theme
	by Aurelio Jargas
	http://aurelio.net/moneylog/
*/

/* ------------------------------------------- Smarphones: width < 480px */

@media screen and (max-width: 480px) {

	/* -------------------- Set font size */
	body,
	.button {
		font-size: 1em;
/*		-webkit-text-size-adjust: none;*/
	}

	/* -------------------- Reset */
	#container {
		margin: 0;
		overflow: auto;
	}
	#toolbar {
		position: static;
		height: auto;
	}
	#logo-wrapper {
		position: static;
	}
	#content {
		margin: 0;
		padding: 0;
	}

	/* -------------------- Unset widths */
	#container,
	#toolbar,
	#logo,
	#toolbar-controls-wrapper {
		width: auto;
	}

	/* -------------------- Stretch */
	#fullscreen {
		width: 50px;
	}
	#source-file.mini {
		width: 80%;
	}
	#source-reload.mini {
		width: 2em;  /* square: .button font-size*2 */
	}
	#report-nav a {
		width: 30% !important;
	}
	.checkbox-option {
		line-height: 250%;
	}
	table.report {
		width: 100%;
	}
	#editor-file-name {
		left: 0;
		top: 0;
		line-height: 20px;  /* file_name */
		padding: 0 5px;
		letter-spacing: 0;
	}
	#editor-data-wrapper {
		top: 20px;  /* file_name */
		right: 0;
		bottom: 70px;  /* space for the buttons */
		left: 0;
		border-width: 5px;
		padding: 7px 0 7px 7px;
	}

	/* -------------------- Compress */
	.report {
		font-size: 75%;		
	}
	.report th {
		font-size: 80%;
	}
	.report td {
		padding: 4px 2px !important;
	}
	td.date {
		white-space: normal;
	}
	#charts {
		margin-top: 2em;
	}
	#tag-report {
		margin-top: 2em;
	}
	#tag-report-options {
		font-size: 75%;		
	}
	#rows-summary {
		padding: 3px;
		border-width: 3px;
		font-size: 70% !important;
	}
	#rows-summary-content td {
		padding: 0 3px;
	}
	#editor {
		font-size: 80%;
	}

	/* -------------------- Remove */
	tr:hover td,
	tr.future:hover td {
		background-color: inherit;
		color: inherit;
	}

	/* -------------------- Format */
	#logo {
		float: left;
		background-color: inherit;
	}
	#fullscreen {
		float:right;
	}
	#report {
		margin-top: 2em;
	}
	td.date,
	td.tags {
		text-align: center;
	}

} /* close @media */

