/*
	MoneyLog Portable theme
	by Aurelio Jargas
	http://aurelio.net/moneylog/

	Light green: #E5EFDE
	 Dark green: #4D8A68
*/


#app-flavor {
	color: #4D8A68;
}

/* Dark background for active/special buttons */
#fullscreen,
.report th:hover,
#editor-file-name,
.button.active,
a.button:active {
	background-color: #4D8A68;
}

/* Dark background for selected rows */
tr.selected,
tr.selected:hover td,
tr.selected .neg {
	background-color: #4D8A68;
}

/* Dark color for borders */
#editor-data-wrapper,
#rows-summary,
.button.active,
a.button:active {
	border-color: #4D8A68;
}

/* Light background for selections */
.hl,
#tag-cloud-tags a.selected {
	background-color: #E5EFDE;
}

/* Light background for totals */
tr.totals,
td.totals,
#rows-summary {
	background-color: #E5EFDE;
}

/* Light color for the report borders */
.report td {
	border-color: #E5EFDE;
}


/* Special: interface dark green for the positive chart bar */
.posbar {
	background-color: #4D8A68;
}
