/*
	moneylog.css
	http://aurelio.net/moneylog/
*/

/* ---------------------------------------------- Reset CSS (from YUI) */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0;padding:0; }
table { border-collapse:collapse;border-spacing:0; }
body { font:12px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small; }
select,input,button,textarea { font:99% arial,helvetica,clean,sans-serif; }
table { font-size:inherit;font:100%; }
th,td { border-style:none;padding:.5em; }
p,blockquote,ul,ol,dl { margin:1em; }
ol,ul,dl { margin-left:2em; }
dl dd { margin-left:1em; }


/* ---------------------------------------------- Global settings */

body {
	color:#555;            /* fg1 */
	background-color:#fff; /* bg1 */
}
a {
	text-decoration:none;
	font-weight:bold;
}
input {
	margin-right:0.25em;
}
label,
.trigger {
	cursor:pointer;
}
.posbar {
	background-color:#4D89F9 !important; /* bar1 */
}
.negbar {
	background-color:#f66 !important;   /* bar2 */
}
.number {
	text-align:right !important;
	white-space:nowrap;
}
.neg {
	color:#e33;            /* fg_red */
}
tr:hover .neg {
	color:#f00;
}
#tagsArea input,
#tagsArea label,
#toolbar input,
#toolbar label,
#toolbar select,
#toolbar a {
	vertical-align:middle;
}

/* ---------------------------------------------- Error */
#error {
	display:none;
	margin:14em 10% 4em 10%;
	padding:10px;
	border:3px solid red;
	background-color:yellow;
	color:black;
	line-height:140%;
}

/* ---------------------------------------------- Toolbar */

#fullscreen {
	position:fixed;
	top:0;
	left:0;
	z-index:9;
	
	font-size:150%;
	width:1em;
	text-align:center;
	background-color:#444; /* bg2 */
}
#toolbar {
	color:#ddd;            /* fg2 */
	background-color:#444; /* bg2 */
	text-align:center;
	z-index:1;
	position:fixed;
	top:0;
	left:0;
	width:100%;
}
#fullscreen,
#tagSummaryButton,
#toolbar a {
	color:#f44;            /* fg2a */
	font-size:185%;
	padding:0 4px;
}
#fullscreen:hover,
#tagSummaryButton:hover,
#toolbar a:hover {
	background-color:#f44; /* fg2a */
	color:#444;            /* bg2 */
}
#toolbar label:hover,
#toolbar input:hover + label {
	color:#fff;
}
#toolbar .toolbarpane.left {
	float:left;
	width:30%;
}
#toolbar .toolbarpane.middle {
	float:left;
	width:40%;
}
#toolbar .toolbarpane.right {
	float:right;
	width:30%;
}
#toolbar #report-nav {
	margin:1em 0;
}
#toolbar #report-nav a {
	font-size:110%;
	border:1px solid #444; /* bg2 */
}
#toolbar #report-nav a:hover {
	background-color:#444; /* bg2 */
	color:#f44;            /* fg2a */
	border:1px dotted #f44; /* fg2a */
}
#toolbar #report-nav a.active {
	border:1px solid #f44; /* fg2a */
	outline-style:none; /* Firefox, Camino */
}
#toolbar a.helplink {
	float:right;
}
#toolbar #filterbox {
	float:right;
	text-align:left;
}
#toolbar #valuefilterarg {
	visibility:hidden;
}
#toolbar #datafilesbox {
	clear:right;
	float:right;
	text-align:right; /* IE7 fix */
	padding:20px 0 0 0;
}
#toolbar #checkboxes {
	text-align:left;
	vertical-align:middle;
	line-height:185%; /* to fit selects */
}

/* ---------------------------------------------- Content */

#content {
	z-index:0;
	margin-top:8em;        /* y1 */
}

/* ---------------------------------------------- Tags */

#tagsArea {
	display:none;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	padding:0.5em 0; /* see #operabug */
	line-height:150%;

	/* Same colors of #toolbar */
	color:#ddd;            /* fg2 */
	background-color:#444; /* bg2 */
}
#tagsArea #operabug {
	/* Wrapper needed by Opera9. Can't pad #tagsArea at left/right */
	/* Padding-right will be reset by showHideEditButton() */
	padding:0 0.5em 0 1em;
}
#tagsArea #tagsLabel {
	font-weight:bold;
	color:#f44;            /* fg2a */
}
#tagsArea input+span {
	padding:1px 2px;
}
#tagsArea input[checked]+span { /* highlight selected tags */
	background:#f44;       /* fg2a */
	color:#000;            /* fg4 */
	border:1px solid #000; /* fg4 */
	padding:1px 1px;
	/* Note: DON'T use input:checked, it fails in Opera9/IE8 */
}
#tagsArea input {
	display:none; /* hidden, but still used by JavaScript (exception: IE7 - see CC) */
	margin:0;
	padding:0;
}
#tagsArea #tagMultiAll {
	margin-top:-0.5em;
}
#tagsArea #tagMultiAll input {
	display:inline;
	margin-right:0.25em;
}
#tagsArea #tagList {
	display:inline;
}

/* ---------------------------------------------- Help */

#help {
	display:none;
	background-color:#faa; /* bg3 */
	color:#800;            /* fg3 */
	padding:2em;
	line-height:120%;
	
	/* IE7 bug: gap between #toolbar and #help if no border */
	border-top:1px solid #faa; /* bg3 */
}
#help a {
	text-decoration:underline;
}
#help ul ul {
	margin-top:0;
}
#help div {
	display:none; /* All langs hidden, js activate the correct */
}

/* ---------------------------------------------- Data */

#data,
#dataFrame {
	display:none;
}

/* ---------------------------------------------- Editor */

#editoropen {
	display:none;
	position:fixed;
	bottom:0;
	right:0;
	z-index:99;
}
#editor {
	display:none;
	position:fixed;
	bottom:0;
	right:0;
	left:0;
	background:#444; /* bg2 */
	padding:0 10px 5px 10px;
}
#editor textarea {
	width:100%;
}
#editor button {
	float:right;
}

/* ---------------------------------------------- Report */

#report {
	padding:3em 3em 8em 2em;
	line-height:100%;
}
#report table {
	margin:0 auto;
}
#report th {
	text-align:center;
	cursor:pointer;
}
#report th:hover {
	color:#000;            /* fg4 */
	background-color:#ddd; /* bg4 */
}
#report td {
	border:1px solid #ddd; /* bd1 */
	padding:3px 10px;
	vertical-align:middle;
}
#report td.row-count {
	text-align:center;
	font-size:75%;
	color:#aaa;            /* fg5 */
	border-style:none;
	background-color:#fff; /* bg1 */
}
#report td.date {
	white-space:nowrap;
}
#report tr.future td.row-count {
	font-style:normal;
}
#report tr:hover td,
.popup tr:hover td {
	background-color:#ddd; /* bg4 */
	color:#000;            /* fg4 */
}
#report tr.future {
	background-color:#eee; /* bg6 */
	font-style:italic;
}
#report tr.selected {  /* not using td to exclude the row number cell */
	background-color:#FF6 !important; /* bg_yellow_light */
}
#report tr.selected:hover td {
	background-color:#FF0 !important; /* bg_yellow */
}
#report .hl {
	color:#000;            /* fg4 */
	background-color:#faa; /* bg3 */
}
#report p { /* labelNoData */
	text-align:center;
}

/* ---------------------------------------------- Report - Daily */

/* Column sorting is not working for Balance, so undo formatting */
#report table.daily th.balance {
	cursor:auto;
}
#report table.daily th.balance:hover {
	color:#555;            /* fg1 */
	background-color:#fff; /* bg1 */
}
#report table.daily tr.total {
	background-color:#fee; /* bg5 */
	text-align:right;
	font-weight:bold;
}
#report table.daily tr.total td {
	border-style:none;
}
#report table.daily tr.total table.posneg {
	float:right;
	font-size:90%;
	font-weight:normal;
}
#report table.daily tr.total table.posneg td {
	padding:0;
	white-space:nowrap;
}
#report table.daily tr.total td.monthtotal {
	text-align:left;
	padding-left:0;
}
#report table.daily tr.total td.monthtotal .arrow {
	margin-right:8px;
}

/* ---------------------------------------------- Report - Monthly/Yearly */

#report table.overview tr.total {
	background-color:#fee; /* bg5 */
	font-style:italic;
}
#report td.rowlabel {
	font-weight:bold;
}

/* ---------------------------------------------- Minibars inside report table */

#report table td.minibar {
	border-style:none !important;
}
#report table div.minibar {
	float:left;
}
#report table td.minibar .label {
	float:left;
	font-size:75%;
	color:white !important;
}

/* ---------------------------------------------- Tag summary */

#tagSummary {
	display: none;
	position: fixed;
	left: 0.5em;
	bottom: 2.5em;  /* padding 0.5*2 + font-size:150% */
	max-height: 40%; /* for huge tag lists */
}
#tagSummaryButton {
	font-size: 130%;
	font-weight: bold;
	margin-right: .5em;
}

/* ---------------------------------------------- Rows summary */

#rowsSummary {
	position: fixed;
	left: 0;
	bottom: 50%;
}

/* ---------------------------------------------- Popup */

.popup {
	margin: 0;
	background-color: #eee; /* bg6 */
	background-color: #ccc; /* bg6 */
	overflow: auto;	
}
.popup table {
	border: 0px solid #444; /* bg2 */
}
.popup td {
	border-width: 0;
	padding: 3px 8px;
}

/* ---------------------------------------------- Charts */

#charts {
	display:none;
	margin-top:-4em;
	padding-bottom:10em;
	text-align:center;
}
#charts #chartcol {
	margin-bottom:5px;
}
table.chart {
	border:1px solid #ddd; /* bd1 */
	margin:0 auto;
	padding:10px;
}
table.chart td.bar {
	text-align:center;
	vertical-align:bottom;
}
table.chart td.bar div.bar {
	width:35px;
	margin:0 auto;
}
table.chart td.bar .label {
	font-size:11px;
	color:#444;            /* fg7 */
	font-style:italic;
}
table.chart tr.label {
	text-align:center;
	font-size:10px;
	line-height:100%;
	color:#444;            /* fg7 */
}


/* Minimum compatibility for IE5.5, IE6 */
#content { _margin-top:0; }


/* MoneyLog v3 Theme */
/* Uncomment if you want to use it */
/*
body {
	color:#555; background-color:#fff; }
#help {
	color:#515; background-color:#edf; }
#toolbar {
	color:#ddd; background-color:#444; }
#toolbar a, #toolbar #report-nav a:hover, #fullscreen, #tagsArea #tagsLabel, #tagSummaryButton, {
	color:#c6f; }
#toolbar a:hover, #fullscreen:hover, #tagSummaryButton:hover, {
	color:#444; background-color:#c6f; }
#toolbar #report-nav a:hover, #toolbar #report-nav a.active {
	border-color:#c6f; }
#tagsArea input[checked]+span {
	color:#000; background:#c6f; border-color:#000; }
#report td.row-count {
	color:#aaa; background-color:#fff; }
#report th:hover {
	color:#000; background-color:#eee; }
#report td, table.chart {
	border-color:#ccc; }
#report tr:hover td {
	background-color:#edf; }
#report tr.future {
	background-color:#eee; }
#report .neg {
	color:#e33; }
#report table.daily tr.total table.posneg {
	color:#868; }
#report table.daily tr.total {
	background-color:#f8e8ff; }
#report table.overview tr.total {
	background-color:#f8e8ff; }
*/

