/*
	moneylog.css
	http://aurelio.net/moneylog
*/

body {
	color:#555;
	background-color:#fff;
	margin:0;
	padding:0;
	border:0;
	font-size:85%;
	font-family:sans-serif;
}
th, td {
	font-size:85%; /* same as in body */	
}
a {
	text-decoration:none;
	font-weight:bold;
}
#toolbar {
	color:#ddd;
	background-color:#444;
	text-align:center;
	z-index:1;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:7em;
}
#toolbar a {
	color:#c6f;
	font-size:185%;
	padding:0 4px;
}
#toolbar a:hover {
	background-color:#c6f;
	color:#444;
}
#toolbar #report-nav {
	text-align:center;
	margin:1em 0;
}
#toolbar #report-nav a {
	font-size:110%;
}
#toolbar #report-nav a:hover {
	outline:1px dotted #c6f !important;
	background-color:#444;
	color:#c6f;
}
#toolbar #report-nav a.active {
	outline:1px solid #c6f;
}
#toolbar a.helplink {
	float:right;
}
#toolbar #filterbox {
	float:right;
	text-align:left;
}
#toolbar #datafilesbox {
	clear:right;
	float:right;
	text-align:right; /* Camino fix */
	padding:10px 0;
}
#toolbar #datafilesbox #datafiles {
	margin-top:3px; /* to align with (R) */
}
#checkboxes {
	text-align:left;
}
#content {
	z-index:0;
	margin-top:9em;
}
#tagsArea {
	position:fixed;
	bottom:0;
	left:0;
	font-size:85%;
	background-color:#eee;
	border-top:1px solid #ccc;
	padding:0.5em 0;
	text-align:center;
	display:none;
	width:100%;

	/* Same colors of #toolbar */
	color:#ddd;
	background-color:#444;
}
#tagsArea input[checked]+span { /* highlight selected tags */
	background:#c6f;
	color:#000;
}
#tagsArea input {
	margin:0;
	padding:0;
	display:none; /* hidden, but still used by JavaScript */
}
#tagsArea #tagMultiAll {
	font-weight:bold;
}
#tagsArea #tagMultiAll input {
	display:inline;
}
#tagsArea #tagList {
	display:inline;
}
#report {
	text-align:center;
	padding:2em 3em 8em 2em;
}
#help {
	background-color:#edf;
	color:#515;
	padding:2em;
	margin:0;
	display:none;
}
#data {
	display:none;
}
#dataFrame {
	display:none;
}

#report table {
	margin:0 auto;
	border-spacing:0;
	border-collapse:collapse;
}
#report td {
	border:1px solid #ccc;
	padding:.1em 10px;
}
#report td.row-count {
	text-align:center;
	font-size:70%;
	color:#aaa;
	border-width:0;
	background-color:#fff;
}
#report td.date {
	white-space:nowrap;
}
#report td.rowlabel {
	font-weight:bold;
}
#report tr.future td.row-count {
	font-style:normal;
}
#report th {
	text-align:center;
	cursor:pointer;
}
#report th:hover {
	color:#000;
	background-color:#eee;
}
#report tr:hover td {
	background-color: #edf;
}
#report tr.future {
	background-color:#eee;
	font-style:italic;
}
#report tr.monthtotal {
	background-color:#f8e8ff;
	line-height:200%;
	text-align:right;
}
#report tr.monthtotal td {
	border-width:0;
	font-size:100%;
}
#report table.overview tr.total {
	background-color:#f8e8ff;
	font-style:italic;	
}
.trigger {
	cursor:pointer;
}
.number {
	text-align:right;
	white-space:nowrap;
}
.neg {
	color:#e33;
}
.hl {
	color:#e33;
	background-color: #edf;
}
#report tr.monthtotal td td.mini {
	font-size:85%;
	color:#868;
	font-weight:bold;
}
#report table.monthsubtotal {
	margin:0;
}
#report table.monthsubtotal td {
	padding:0;
	width:5.5em;
}


/* Minibars inside report table */
.posbar {
	background-color:#4D89F9;
}
.negbar {
	background-color:#f66;
}
td.minibar {
	border-style:none !important;
}
div.minibar {
	float:left;
/*	height:0.7em;*/
}
td.minibar .label {
	float:left;
	font-size:75%;
	color:white !important;
}


/* Emulating position:fixed in IE/Win 5+ */
#toolbar {
	_position:absolute;
	_top:expression(eval(document.body.scrollTop));
}
